body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.content-center {

  width: 40%; 
  margin-left: 18%; 
  margin-right: 18%; 
  width: auto;
}


