{% extends 'base.html' %}

{% block content -%}
    <div class="container">
        <div class="text-center mt-4" style="margin-left: 25%; margin-right: 25%; width: auto;">
            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    <div class="alert alert-error alert-warning">
                        <strong>{{ form[field].label }}</strong>:
                        {{ ', '.join(errors) }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}


            {% if conditions == 0 %}
                <div class="alert alert-error alert-warning">
                    <strong>
                        Rif</strong>: Rif no fue encontrado
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>


        <form method="post">
            <div class="text-center" style="margin-left: 15%; margin-right: 15%;">
                {{ form.rif.label }}:
                {{ form.rif }}
                {{ form.submit(class_="btn btn-success") }}
            </div>
        </form>


        {% if conditions > 0 %}

            <div class='p-2 mt-3'>
                <div class="row">
                    {% for Info in Validaciones %}
                        <div class="border rounded col-md-6 p-4" style='background-color: beige;'>
                            <div class="card mb-6 shadow-sm">
                                <div class="card-header ">
                                    <h4 class="my-0 font-weight-normal">{{ Info['Nombre Industria'] }}</h4>
                                </div>
                                <div class="card-body ">
                                    {% for key, value in Info.items() %}

                                        <ul class="list-unstyled mt-3 mb-4">
                                            <p class="text-center">
                                                <strong>{{ key }}</strong>:
                                                {{ value }}</p>
                                        </ul>
                                    {% endfor %}

                                    <a class='btn btn-lg btn-block btn-danger' href="{{ url_for('del_reg_select', rif = Info['Rif'], fecha=Info['Fecha']) }}">
                                        Eliminar
                                    </a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}
