{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <form action="" method="post" class="mt-5">

        <input type="hidden" name="data_data" value="{{ df }}">
        
        <table class='table table-bordered table-hover' >
            <tr class='thead-dark'>
                {% for head in columnas %}
                <th>{{ head }}</th>
                {% endfor %}
            </tr>
            
            {% for row in data %}
            <tr>
                {% for celda in row %}
                <td>{{ celda }}</td>
                {% endfor %}
                
            </tr>
            {% endfor %}
        </table>

        <input type="submit" name='negativo' value="Cancelar" class="btn btn-danger">
        <input type="submit" name='positivo' value="Aceptar" class="btn btn-success">
    </form>
</div>
{% endblock %}