{% extends 'base.html' %}

{% block content %}
    <body>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Informacion</h1>
        </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Validacion</h4>
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4">
                            <p class="text-center p-5">Validacion</p>
                        </ul>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{{ url_for('upload_validation') }}" class="btn btn-lg btn-block btn-success">Registrar validaciones</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ url_for('validation_saved') }}" class="btn btn-lg btn-block btn-primary">Ver validaciones</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Cargar Archivo</h4>
                    </div>
                    <div class="card-body">

                        <ul class="list-unstyled mt-3 mb-4">
                            <p class="test-center p-5">Cargar Archivos</p>
                        </ul>
                        <a href="{{ url_for('upload_file') }}" class="btn btn-lg btn-block btn-primary">Cargar Archivos</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
