{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">

        <h1>Cargar archivo</h1>

        <form method="POST" enctype="multipart/form-data">
            <p>
                Elija Un Archivo Excel:
                <br/>
                <span class="btn btn-primary btn-file m-2">
                    Cargar Archivo Excel<input type="file" name="file_excel" accept=".xlsx, xls" style="color: transparent"/>
                </span>
                <input type="submit" class="btn btn-primary" value="Enviar Datos"/>
            </p>
            <p>
                <input type="date" name="fecha_mes"  id="fecha_mes" value="{{ fecha_hoy }}" min="2020-01-01" max="{{fecha_hoy}}">
                <input type="time" name="fecha_hora" value="{{hora}}" style="display: none;">
            </p>


            <a class="btn btn-success"  href="{{ url_for('excel_template') }}" download="">Descargar plantilla excel</a>
        </form>
    </div>

{% endblock %}
