{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="text-center p-5">

        <h1>Cargar Validacion</h1>
        
        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-error alert-warning">
                    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        


        <form method="post">
            <p>{{ form.nombre_industria.label }}</p>
            <p>{{ form.nombre_industria }}</p>   

            <p>{{ form.letra_rif.label }}</p>
            <p>{{ form.letra_rif }} {{ form.numero_rif }}</p> 
            
            <p>{{ form.nombre_planta.label }}</p>
            <p>{{ form.nombre_planta }}</p> 

            <p>{{ form.cantidad_operativa.label }}</p>
            <p>{{ form.cantidad_operativa }}</p> 

            <p>{{ form.submit }}</p>
        </form>
    </div>
</div>
{% endblock %}