{% extends 'base.html' %}

{% block content %}
    <div class="container">


        {% if conditions == 0 %}

            <div class="p-4">
                <div class="card text-center " style="width: 25%; margin-left: 18%; margin-right: 18%; width: auto;">
                    <div class="card-header">
                        Validaciones
                    </div>
                    <div class="card-body">
                        <p class="card-text">No ha registrado ninguna validacion</p>
                        <a href="{{ url_for('upload_validation')}}" class="btn btn-primary">Ir a cargar validaciones</a>
                    </div>
                </div>

            </div>

        {% elif conditions > 0 %}
            <div class="row">
                {% for Info in Validaciones %}
                    <div class="col-sm-6 p-4">
                        <div class="card mb-6 shadow-sm">
                            <div class="card-header ">
                                <h4 class="my-0 font-weight-normal">{{ Info['Nombre Industria'] }}</h4>
                            </div>
                            <div class="card-body ">
                                {% for i in Info %}

                                    <ul class="list-unstyled mt-3 mb-4">
                                        <p class="text-center">{{ Info[i] }}</p>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% endif %}


    </div>


{% endblock %}
