
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

header{width:100%; display:table; background-color:#ffffff; margin-bottom:50px; display:inline-block;border:1px solid #000;}
#nav_link{float:left; font-size:24px; text-transform:uppercase; color:#002e5b; font-weight:600; padding:20px 0px;}
